<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- mars data -->
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>Latest Mars News</h2>
        <h4>{{ mars.title }}</h4>
        <p>{{ mars.paragraph }}</p>
      </div>
      </div>
    </div>
   <hr>

      <div class="row">
        <div class="col-lg-8">
          <h2>Featured Mars Image</h2>
          <img src="{{mars.featured_image}}" alt="Featured Mars Image" width: 50%>
        </div>

        <div class="col-lg-3 bg-white mt-lg-5">

          <div class="box">

        <h4>Mars Facts</h4>
        {{mars.mars_html|safe}}
       
      </div>
    </div>
  </div>
  <hr>
  <div class="row row-cols-4 row-cols-lg-2 g-2 g-lg-3">
    <div class="col">

      <h2 class="align-items-center">Mars Hemispheres</h2>
    </div>
  </div>

  <div class="col">
    {% for hemisphere in mars.hemisphere_images %}
    <div class="col-6-brder">

      <div class="boxmargin">
        <img width="120 px" height="120 px" src="{{hemisphere.img_url}}">

        <figcaption>{{hemisphere.title}}<figcaption>
      </div>

    </div>
    {% endfor %}
  </div>
  </div>
  <hr>
  <footer class="footer">
    <div class="footer"> &copy; Copyright Khadra Absughe 2022
    </div>
  </footer>
</body>

</html>